<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
  <appSettings>
    <add key="LibraryPath" value="Z:\H Library"/>
	<add key="TempPath" value="Z:\_Temp"/>
	<add key="BrowsePath" value="Z:\_Notes\New H\[[Zip"/>
	<add key="ProcessorApiUrl" value="http://192.168.50.41:5001"/>
	<!--<add key="ProcessorApiUrl" value="https://localhost:44367"/>-->
  </appSettings>
</configuration>